{% extends 'base.html' %}

{% block content %}
<div class="centered-container">
    <h2>Home Feed</h2>
    <div class="tweets">
        {% for tweet in tweets %}
        <div class="tweet">
            <div class="user-info">
                <span class="user-name">{{ tweet.user_name }}</span>
                <span class="screen-name">@{{ tweet.screen_name }}</span>
            </div>
            <p class="tweet-text">{{ tweet.text }}</p>
            <p class="created-at">Created at: {{ tweet.created_at }}</p>
        </div>
        {% endfor %}

        {% if prev_page_url %}
        <a class="prev btn" href="{{ prev_page_url }}">Previous Page</a>
        {% endif %}
        {% if next_page_url %}
        <a class="next btn" href="{{ next_page_url }}">Next Page</a>
        {% endif %}

    </div>
</div>
{% endblock %}
