{% extends 'base.html' %}

{% block content %}
<div class="centered-container">
    <h2>Trending Hashtags</h2>
    <table class="hashtag-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Hashtag</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td><span class="rank">{{ tag.rank }}</span></td>
                <td><a class="hashtag-link" href="{{ tag.url }}">{{ tag.tag }}</a></td>
                <td>{{ tag.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
